#main-parent{
    display: grid;
    grid-template-columns: 1.2fr 3fr 1.2fr;
    
}
#left-parent{
    position: relative;
}
#middle-parent {
    position: relative;
}
#right-parent{
    position: relative;
}

/* middle-parent의 디자인 */
.content-box {
    width: auto; 
    height: auto; 
    background: white;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #EAEBEC;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    
}

.post {
    width: calc(33.3% - 40px); 
    height: auto;
    position: relative;
    background: #F1F3F5;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.post-image {
    width: 100%; /* post 컨테이너에 맞게 이미지 너비 조정 */
    height: auto; /* 이미지의 비율을 유지하면서 높이 조정 */
    top: 0;
    left: 0; /* 이미지의 위치를 조정 */
}
.post-info {
    display: flex;
    align-items: center;
    gap: 10px; /* 아이콘과 텍스트 사이의 간격 */
    margin-bottom: 10px; /* 다음 요소와의 간격 */
}

.post-icon {
    width: 21px;
    height: 21px;
}

.post-author {
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

.post-description {
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px; /* 다음 요소와의 간격 */
}

.post-details {
    display: flex;
    justify-content: space-between; /* 요소들을 양 끝으로 분산 */
    align-items: center;
}

.post-location {
    color: #8A8A8A;
    font-size: 13px;
    font-weight: 500;
    line-height: 22.75px;
}

.post-score {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 24.50px;
}
/* right-parent 디자인 */
.profile-updates-box {
    width: auto;
    height: 640.50px;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #EAEBEC;
    margin: 20px; /* 중앙 정렬 */
    position: relative; /* 자식 요소들의 위치 기준 */
}
.updates-container {
    display: flex;
    justify-content: space-between; /* 요소들을 양끝으로 정렬 */
    align-items: center; /* 수직 방향 중앙 정렬 */
    padding: 0 20px; /* 내부 여백 */
}
.updates-title, .switch-buttons {
    /* flex: 1;  */
    text-align: center;
}
.updates-title {
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    /* position: absolute;
    top: 41px;
    left: 31px; */
}
.switch-buttons {
    
    
    border-radius: 17px; 
    border: 1px solid #E1E2E4; 
    /* justify-content: space-between; 
    align-items: center;
    
    position: relative; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  
    display: flex;
    align-items: center;
    justify-content: space-around; */

    display: flex;
    justify-content: center; /* 버튼들을 중앙 정렬 */
    align-items: center;
    width: auto; /* 선과 버튼들을 포함할 수 있도록 너비 조정 */
    padding: 0 10px;
}
/* .switch-buttons::after {
    content: '';
    position: absolute;
    height: 100%; 
    width: 1px; 
    background-color: #E1E2E4; 
    left: 50%; 
    transform: translateX(-50%);
} */

/* 버튼 내 이미지 아이콘에 대한 스타일 */
/* .switch-left, .switch-right { */
    /* background-color: transparent; 
    width: 16px; 
    height: 16px;
    border: none;
    font-size: 24px;
    flex: none;  */

    /* font-size: 24px;
    margin: 0 5px; */
/* } */



.switch-right {
    margin-right: 0;
}



/* 원래 있던 디자인 */
.active {
    background-color: #FF4500;
    color: white
}
.login-button:hover {
    background-color: #EAEBEC;
}
.signup-button:hover {
    text-decoration: underline;
}
.write-button:hover {
    text-decoration: underline;
}
.dropdown-orange:hover {
    text-decoration: underline;
}
.nav-bar {
width: auto;
height: 112px;
position: relative;
background: white;
border-bottom: 1px #E8E8E8 solid;
}
.dropdown-white:hover {
background-color: #EAEBEC;
}
.dropdown-white {
width : 185px;
height: 50px;
background: white;
color: #8A8A8A;
border-radius: 8px;
font-family: Inter;
font-size: 16px;
border: none;
}
.dropdown-orange {
width : 185px;
height: 50px;
background: #FF4500;
color: white;
border-radius: 8px;
font-family: Inter;
font-size: 16px;
border: none;
}
.write-button {
width: 126px;
height: 48px;
position: absolute;
top: 33px;
left: 88%;
background: #FF4500;
border-radius: 8px;
cursor: pointer;
text-align: center;
color: white;
font-size: 16px;
font-family: Inter;
font-weight: 600;
line-height: 20.80px;
word-wrap: break-word;
border: none; /* Assuming you don't need a border on the button */
}
.dropdown-menu {
position: absolute;
top: 56px; /* Offset to appear below the image */
background: white;
border: 1px solid #E8E8E8;
border-radius: 8px;
padding: 12px;
}
.signup-button {
width: 126px;
height: 48px;
position: absolute;
top: 33px;
left: 88%;
background: #FF4500;
border-radius: 8px;
cursor: pointer;
text-align: center;
color: white;
font-size: 16px;
font-family: Inter;
font-weight: 600;
line-height: 20.80px;
word-wrap: break-word;
border: none; /* Assuming you don't need a border on the button */
}
.login-button {
width: 126px;
height: 48px;
position: absolute;
top: 33px;
left: 80%;
background: white;
border-radius: 8px;
cursor: pointer;
text-align: center;
color: 8A8A8A;
font-size: 16px;
font-family: Inter;
font-weight: 600;
line-height: 20.80px;
word-wrap: break-word;
border: none; /* Assuming you don't need a border on the button */
}